.bg {
    background-color: #202a44;
}
.navbar-brand,
.nav-item,
.bannerlogo,
.font {
    font-family: "Dancing Script", cursive;
}

.font {
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    font-size: 40px;
    /* margin-right: 500px; */
}

.nav-item {
    font-size: 20px;
    font-weight: bold;
}
.banner {
    background-image: url("img/bg2.jpg");
    height: 550px;
}

.mainlogo {
    font-family: "Dancing Script", cursive;
    font-size: 120px;
}

.search {
    width: 700px;
}
.filter {
    padding: 20px;
}

@media only screen and (min-width: 961px) {
    div.link {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}
@media only screen and (max-width: 700px) {
    .flower {
        display: none;
    }
}
.bg2 {
    background-color: white;
}

.bg3 {
    background-color: #4b68b8;
}

.font2 {
    font-family: "Gentium Plus", serif;
}
.history {
    width: 100%;
}

.buy {
    width: 300px;
}
.font2 {
    font-family: "Gentium Plus", serif;
}
.comment {
    width: 90%;
}
textarea {
    resize: none;
    height: 50px;
}

.logo {
    font-size: 90px;
    margin-top: 200px;
    font-weight: 400;
}

@media only screen and (min-width: 950px) {
    .logo {
        display: none;
    }
}
@media only screen and (max-width: 950px) {
    .desktop {
        display: none;
    }
}

.table {
    width: 70%;
}

.bimage1 {
    z-index: 1;
    position: relative;
    left: 30px;
}
