/* .bg {
    background-color: #ff7f50; 
} */
.navbar-brand,
.nav-item,
.bannerlogo,
.font {
    font-family: "Share Tech", sans-serif;
}

.font {
    font-family: "Share Tech", sans-serif; /*font-family: "Dancing Script", cursive;*/
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    font-size: 40px;
    /* margin-right: 500px; */
}

.nav-item {
    font-size: 20px;
    font-weight: bold;
}
.banner {
    /* background-image: url("/img/bg3.jpg"); */
    height: 800px;
}

.mainlogo {
    font-size: 150px;
    font-family: "Share Tech", sans-serif;
}

.search {
    width: 700px;
}
.filter {
    padding: 20px;
}

@media only screen and (min-width: 961px) {
    div.link {
        width: 100%;
        display: flex;
        justify-content: end;
    }
}
@media only screen and (max-width: 700px) {
    .flower {
        display: none;
    }
}
.bg2 {
    background-color: white;
}

.bg3 {
    background-color: #4b68b8;
}

.font2 {
    font-family: "Share Tech", sans-serif;
}
.history {
    width: 100%;
}

.buy {
    width: 300px;
}

.comment {
    width: 90%;
}
textarea {
    resize: none;
    height: 50px;
}

.logo {
    font-size: 90px;
    margin-top: 200px;
    font-weight: 400;
}

@media only screen and (min-width: 950px) {
    .logo {
        display: none;
    }
}
@media only screen and (max-width: 950px) {
    .desktop {
        display: none;
    }
}

.table {
    width: 70%;
}

.bimage1 {
    z-index: 1;
    position: relative;
    left: 30px;
}

.scroll-bg {
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.stick {
    height: 65px;
    clip-path: polygon(0 0, 100% 0, 81% 100%, 0% 100%);
}
